
body{
  background-color:#F8F9F8;
}
header{
  display: flex;
  padding: 20px;
  align-items: center;
  background-color: #F2C577 ;
}
.card {
    margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card *{
  border-radius: 10px;
  background-color: #EC612F;
}

img{
  height: 200px;
  width : 200px;

}