body{
  background-color:#164450;
  color:#fff;
  font-family: 'Arvo', serif;
}

h1 a,
.card .categorie {
  text-decoration: none;
  color:#fff;
  font-family: 'Adler', 'Adler-webfont', sans-serif;
}

body > header{
  display: flex;
  padding: 20px;
  align-items: center;
}

.card h3, 
.card .date-created, 
.author-name, 
.chapo{
  display: none;
}

/* .actu-image img{
  height:30vh; 
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
} */

#actualites {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 2vh 2vw;
  align-items: stretch;
  margin: 2vh 2vw;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /*justify-content:space-around;
  position:relative; */
}
.card {
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / auto;
  /* flex: 1; */
/*   max-width: 48vw;
  margin:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative; */
}

.card h2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.card .categorie {
  font-variant: small-caps;
}

.card picture {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  width: 100%;
  z-index: -1;
}
.card img {
  width: 100%;
  height: 46vw;
  object-fit: cover;
}

.card:first-of-type {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  /* display: flex;
  position : relative;
  height:30vh;
  width: 100%; */
}
.card:first-of-type h2 {
  /* grid-row: 2 / 3; */
  /* position: absolute;
  color:black;
  z-index:  1;
  margin:2vw; */
}

.card:first-of-type p {
  /* position :absolute; */
}

.card:first-of-type img {
  height: 20vh;
}

/* 
article h2{
  width: 80%;
  margin-top: 10%;
  font-size: calc(1em + .5vw);
  font-size: smaller;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  
  
}



@media screen & (min-width:500px){
  .card h3, .card .date-created, .author-name{
    display:block;
  }
  
} */
