
body{
  background-color:#3F4B6A;
  margin:0;
}
header{
  display: flex;
  padding: 20px;
  align-items: center;
 

}
#actualites{
  background-color: #F7FAF9 ;
}
.actu-image img
{
  height: 200px;
 width: 100%; 
  
}



.article{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
  
  
}

.card{
  
  width: 33%;
  height: 25%;
  margin: 4%;
  display: flex;
  flex-direction: column;
  background-color: #F7FAF9;
  border-radius: 10px;
  
}



p{
  margin:0;

  
  
}



.card-title{
  margin: 0;
 
  border-radius: 8px;
  
  
}
.card-date{
  color: #3D2D3E;
  margin: 0;
  
  border-radius: 8px;
  
}

.card-abstract{
  
  color: #3D2D3E;
  
}


.card-image img{
  display: inline-block;

  height: 50%;
  width : 100%;
}