body{
    background-color: #164450;
}


.mission{
   
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-auto-columns: auto;
}

.titre{
    grid-row: 1/2;
    grid-column: 1/2;
}
picture{
    grid-column: 1/2;
    grid-row: 2/3;
}
img{
 width: 70%;
 border-radius: 10px;
}

.resumer{
    grid-column: 2/3;
    grid-row: 2/3;
}



.biographie{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 15% 1fr 1fr;
    margin-top: 20%;
    
    
}

.team{
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: righ;
}



.bio{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr fr;
    margin :3%;
    
    
}

.pic{
    grid-column: 1/3;
    grid-row: 1/2;
}
.quote{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: left;
  

}

.nom{
    grid-column: 1/3;
    grid-row: 2/3;
}

.resume{
    grid-column: 1/4;
    grid-row: 3/4;
}


