body{
  background-color:#164450;
  color:#fff;
  font-family: 'Arvo', serif;
}
a{
  text-decoration:none;
}
blockquote {
  font-style: italic;
  font-size: 1.1em;
  padding: .5em;
  margin: .5em;
  border-left: .25em solid #2e4450;
}

/*     CSS NAVBAR & OSBURGER     */

header h1{
  flex-grow: 1;
  font-size:1.9em;
  z-index:25;
}

.icon-menu{
  display:inline-block;
}
.icon-menu:before {
  height:50px;
  width:auto;
}

/* anim osburger */
@keyframes osmove{
  0%{rotate: 2deg;}
  100%{rotate: -3deg;}
}
.icon-menu img:hover {
  transform-origin : center center;
  animation-name: osmove;
  animation-duration: 0.05s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-fill-mode:backwards;
}
/* ------------ */

.navbar .logo{
  max-height:2.9em;
  padding:0.1em;
}
.navbar {
  position: relative;
  display: flex;
  color: #ccc;
  height: 2.9em;
  align-items: center;
  padding: 0.5em;
  font-size:1.1em;
}

.navbar ul {
  max-height: 0;
  width:100%;
  position: fixed;
  background: hsla(192, 57%, 20%, 0.849);
  top: 3.9em;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index:20;
}

.navbar ul li {
  list-style-type: none;
  text-align:center;
}

.navbar a {
  display: inline-block;
  color: #eee;
  text-decoration: none;
  padding: 0.5em 1em;
}

.navbar input[type="checkbox"] {
  display: none;
}

/* anim osburger menu deployed */
@keyframes osburgerdeployed{
  0%{max-height: 0;}
  100%{max-height: 100vh;}
}

.navbar input[type="checkbox"]:checked ~ ul {
  animation-name: osburgerdeployed;
  animation-duration: 3s;
  animation-fill-mode:both;
}
/* ----------------------- */

.navbar input[type="checkbox"] + label span[class^="icon-"] {
  display: none;
  font-size:2em;
}

.navbar input[type="checkbox"]:not(:checked) + label .icon-menu {
  display: inline;
}

.navbar input[type="checkbox"]:checked + label .icon-cross {
  display: inline;
}

.navbar span {
  display: inline-block;
}

/*     END CSS NAVBAR & OSBURGER    */

/*  FOOTER  */

body > footer{
  position:fixed;
  text-align:center;
  width:100%;
  height:40px;
  bottom:0;
  background-color:#164450;
}
body > footer p{
  position:relative;
  top:10px;
  font-size:1em;
}
footer a{
  color:#fff;
}
/* END FOOTER */

/* BREACK POINT 1 */
@media screen and (min-width:720px){
    .navbar label{
      display: none;
    }
    .navbar ul{
      position:relative;
    }
    .navbar .logo{
      flex-direction:row;
    }
    .navbar, .navbar ul{
      display:flex;
    }

    .navbar ul{
      width:100%;
      top:auto;
      max-height:none;
      background:none;
      justify-content:flex-end;
    }
    
    header h1{
      flex-grow: initial;
    }
    .navbar {
      font-size:0.8em;
    }

}
/* ============ */

/* BREACK POINT 2 */
@media screen and (min-width:966px){
  .navbar ul li{
    padding: 0 1vw;
  }
  .navbar {
    font-size:1em;
  }
  body > footer{
    position:relative;}
}
/* ============ */

h1 a,
.card .categorie {
  text-decoration: none;
  color:#fff;
  font-family: 'Adler', 'Adler-webfont', sans-serif;
}

body > header{
  display: flex;
  justify-content:space-between;
  padding: 20px;
  align-items: center;
}

.card h3, 
.card .date-created, 
.author-name, 
.card .chapo{
  display: none;
}

/* .actu-image img{
  height:30vh; 
  position: absolute;
  width: 100%;
  object-fit: cover;
  z-index: -1;
} */

#actualites,
#related > div {
  display: grid;
  grid-template: auto / 1fr 1fr;
  grid-gap: 2vh 2vw;
  align-items: stretch;
  margin: 2vh 2vw;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /*justify-content:space-around;
  position:relative; */
}
.card {
  position: relative;
  display: grid;
  grid-template: auto 1fr auto / auto;
  /* flex: 1; */
/*   max-width: 48vw;
  margin:0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative; */
}

.card h2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.card .categorie {
  font-variant: small-caps;
}

.card picture {
  grid-row: 2 / 3;
  grid-column: 1 / -1;
  width: 100%;
  z-index: -1;
}
.card img {
  width: 100%;
  height: 46vw;
  object-fit: cover;
}

.card:first-of-type {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  /* display: flex;
  position : relative;
  height:30vh;
  width: 100%; */
}
.card:first-of-type h2 {
  /* grid-row: 2 / 3; */
  /* position: absolute;
  color:black;
  z-index:  1;
  margin:2vw; */
}

.card:first-of-type p {
  /* position :absolute; */
}

.card:first-of-type img {
  height: 30vw;
}

/* 
article h2{
  width: 80%;
  margin-top: 10%;
  font-size: calc(1em + .5vw);
  font-size: smaller;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
  
  
}



@media screen & (min-width:500px){
  .card h3, .card .date-created, .author-name{
    display:block;
  }
  
} */

.article {
  /* context needed */
}

.article > header {
  text-align: center;
}

.article > header h2 {
  font-size: 2em;
}

.chapo {
  font-size: 1.1em;  
  font-weight: 500;
}

.date-created,
.author-name {
  display: inline-block;
}

.content,
.article > footer > section {
  margin: 5vh 5vw;
}

.content p,
.content blockquote{
  margin: .8em 0;
  text-align: justify;
  hyphens: auto;
  line-height: 1.25;
}

.content em {
  font-style: normal;
  font-weight: 500;
}

.content strong {
  font-style: normal;  
  font-weight: 500; 
}

picture {
  display: block;
}

picture img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

figure {
  margin: 0;
}
figure img {
  max-width: 90vw;
  max-height: 90vh;
}

.author-presentation {
  border-radius: .5em;
  padding: 1em;
  background-color: #2e4450;
  box-shadow: .2em .2em .25em hsla(0, 0%, 0%, .25);
}

.related {
  display: flex;
  flex-flow: column nowrap;
}
.related .card {
  flex-grow: 1;
}

@media screen and (min-width: 720px) {
  picture img {
    height: 40vw;
  }
  figure {
    float: left;
    margin: 0 1em .25em 0;
  }
  figure:nth-of-type(2n) {
    float: right;
    margin: 0 0 .25em 1em;
  }
  .article > footer {
    clear: both;
  }
}
<<<<<<< HEAD



/** About css**/
.mission{
   
  display: grid;
  grid-template-columns: 10% 1fr 1fr
  grid-template-rows: 8% 1fr 1fr ;
  grid-auto-columns: auto;
  position: relative;
  margin-bottom: 0;
}
.titre{
  grid-row: 1/2;
  grid-column: 1/3;
  justify-self: center;
  position: relative;
}

.mission h2{
  font-size: 3em;
}
.picmission{
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 10%;
  position: relative;
}
.mission img{
width: 60%;
border-radius: 10px;
text-align: end;

}

.resumer{
  grid-column: 1/4;
  grid-row: 3/4;
  margin-bottom: 0;
}

.biographie{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 5% 1fr 1fr 1fr 1fr;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60%;
  
  
}

.team{
  grid-column: 1/4;
  grid-row: 1/2;
  justify-self: center;
  margin-top: 20%;
}

article:nth-of-type(1).bio{
  grid-column: 1/3;
  grid-row: 2/3;
}

article:nth-of-type(2).bio{
  grid-column: 1/3;
  grid-row: 3/4;
}

article:nth-of-type(3).bio{
  grid-column: 1/3;
  grid-row: 4/5;
}
article:nth-of-type(4).bio{
  grid-column: 1/3;
  grid-row: 5/6;
}



.bio{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr fr;
  margin-bottom: 5%;
  margin :3%;
  margin-top: 8%;
}



.bio:nth-of-type(odd) picture{
  grid-column: 1/3;
  grid-row: 2/3;
  
 
}

.bio:nth-of-type(even) picture{
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: right;
}

.bio:nth-of-type(odd) .quote{
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: left;
  
  
}

.bio:nth-of-type(even) .quote{
  grid-column: 1/2;
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
  margin-left: 10%;
  
}
.nom{
  grid-column: 1/5;
  grid-row: 1/2;
}

.resume{
  grid-column: 1/5;
  grid-row: 3/5;
  justify-self: right;
  align-content: center;
  position: relative;
  margin-bottom: 20%;
}


/* BREACK POINT  */

@media screen and (min-width: 720px){

  .mission{
      grid-template-columns: 1fr 1fr;
      grid-row: 1fr 1fr;
  }


.titre{
  grid-column: 1/3;
  grid-row: 1/2;
  
}
.mission h2{
  font-size: 4EM;
  align-self: center;

}   
.picmission{
  margin-top: 10%;
}

.mission img{
  width: 40%;
  align-content: start;
  grid-column: 1/3;
  grid-row: 2/3;
  margin-bottom: 0;
}

.resumer{
  font-size: 1.2em;
}

.quote{
  font-size: 3em;
}

.team{
  margin-top: 15%;
  font-size: 4em;

}

.bio h3{
  font-size: 3em;
}

.bio p{
  font-size: 1.9em;
}

.bio  img{
  width: 60%; 
}

}
=======
>>>>>>> 34717dd0bff1666dd5cdaec9d6324c5866e75adc
